- form_for [:admin, :fabulator, @rdf_model], :html => {:onsubmit_status => onsubmit_status(@rdf_model)} do |f|
  = f.hidden_field :lock_version
  = render_region :form_top
  .form_area
    - render_region :form do |form|
      - form.edit_title do
        %p.title
          = f.label :name
          = f.text_field :name, :class => 'textbox activate', :maxlength => 100
      - form.edit_namespace do
        %p.description
          = f.label :namespace, "Namespace"
          = f.text_field :namespace, :class => 'textbox', :maxlength => 100
      - form.edit_description do
        %p.description
          = f.label :description, "Description"
          ~ f.text_area :description, :class => "textarea large", :style => "width: 100%"
  - render_region :form_bottom do |form_bottom|
    - form_bottom.edit_buttons do
      %p.buttons{:style=>"clear: left"}
        = save_model_button(@rdf_model, :label => 'Create RDF Model')
        = save_model_and_continue_editing_button(@rdf_model)
        or
        = link_to 'Cancel', admin_fabulator_rdf_models_url
    - form_bottom.edit_timestamp do
      %p.updated_line
        = updated_stamp @rdf_model
