- @page_title = 'RDF Models - ' + default_page_title

.outset
  - render_region :top
  %table#databases.index
    %thead
      %tr
        - render_region :thead do |thead|
          - thead.title_header do
            %th.database Model
          - thead.namespace_header do
            %th.namespace Namespace
          - thead.size_header do
            %th.size Size
          - thead.modify_header do
            %th.modify Modify
    %tbody
      - if @rdf_models.any?
        - @rdf_models.each do |database|
          %tr.node.level_1
            - render_region :tbody do |tbody|
              - tbody.title_cell do
                %td.snippet
                  = image('snippet', :alt => '')
                  %span= link_to database.name, edit_admin_fabulator_rdf_model_url(database)
              - tbody.namespace_cell do
                %td.namespace
                  %span= database.namespace
              - tbody.size_cell do
                %td.size
                  %span= database.size
              - tbody.modify_cell do
                %td.remove
                  = link_to image('remove', :alt => 'Remove RDF Model'), remove_admin_fabulator_rdf_model_url(database)
      - else
        %tr
          %td.note{:colspan => admin.fabulator_databases.index.tbody.length} No RDF Models

- render_region :bottom do |bottom|
  - bottom.new_button do
    #actions
      %ul
        %li= link_to "New RDF Model", new_admin_fabulator_rdf_model_url
