- @page_title = 'Edition - ' + default_page_title

.outset
  - render_region :top
  %table#editions.index
    %thead
      %tr
        - render_region :thead do |thead|
          - thead.title_header do
            %th.filter Edition
          - thead.size_header do
            %th.size Size
          - thead.modify_header do
            %th.modify Modify
    %tbody
      - if @fabulator_editions.any?
        - @fabulator_editions.each do |edition|
          %tr.node.level_1
            - render_region :tbody do |tbody|
              - tbody.title_cell do
                %td.snippet
                  = image('snippet', :alt => '')
                  %span= link_to edition.name, edit_admin_fabulator_edition_url(edition)
              - tbody.size_cell do
	              %td.size
	                %span= edition.file_size
              - tbody.modify_cell do
                %td.remove
                  = link_to image('remove', :alt => 'Remove Edition'), remove_admin_fabulator_edition_url(edition)
      - else
        %tr
          %td.note{:colspan => admin.fabulator_edition.index.tbody.length} No Editions

- render_region :bottom do |bottom|
  - bottom.new_button do
    #actions
      %ul
        %li= link_to "New Edition", { :controller => 'admin/fabulator/editions', :action => 'new' }
