- @page_title = @fabulator_edition.name + ' Edition - ' + default_page_title

- body_classes << "reversed"

- render_region :main do |main|
  - main.show_header do
    %h1= 'Edition - ' + @fabulator_edition.name
  - main.show_form do
    %p
      Size:
      = @fabulator_edition.file_size

    %h2 Download

    %p
      %a{:href => api_edition_url(:id => @fabulator_edition.id)}
        = @fabulator_edition.download_filename + ".tgz"
    %p
      N.B.: This archive opens as
      = './' + @fabulator_edition.build_dirname
      when unpacked.

    = markdown @fabulator_edition.description